@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Name)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Budget)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.StartDate)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Administrator)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExternalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExternalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExternalId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>