@model ContosoUniversity.ViewModels.Students.StudentIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Students</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
            <input type="submit" value="Search" class="btn btn-secondary"/> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@Model.NameSortParm" asp-route-currentFilter="@Model.CurrentFilter">Last Name</a>
        </th>
        <th>
            First Name
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@Model.DateSortParm" asp-route-currentFilter="@Model.CurrentFilter">Enrollment Date</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Page)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExternalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExternalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExternalId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Page.HasPreviousPage ? "disabled" : string.Empty;
    var nextDisabled = !Model.Page.HasNextPage ? "disabled" : string.Empty;
}

<a asp-action="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageNumber="@(Model.Page.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageNumber="@(Model.Page.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-secondary @nextDisabled">
    Next
</a>