@model ContosoUniversity.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructors";
    string selectedRow = "";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hire Date</th>
        <th>Office</th>
        <th>Courses</th>
        <th>Actions</th>
    </tr>

@foreach (var instructor in Model.Instructors)
{
    selectedRow = (instructor.Id == ViewBag.InstructorID) ? "table-success" : "";
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(model => instructor.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => instructor.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(model => instructor.HireDate)
        </td>
        <td>
            @if (instructor.OfficeAssignment != null)
            {
                @instructor.OfficeAssignment.Location
            }
        </td>
        <td>
            @{
                foreach (var course in instructor.Courses)
                {
                    @course.Id @:  @course.Title <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Select",  "Index",   new { id = instructor.Id }) |
            @Html.ActionLink("Edit",    "Edit",    new { id = instructor.Id }) |
            @Html.ActionLink("Details", "Details", new { id = instructor.Id }) |
            @Html.ActionLink("Delete",  "Delete",  new { id = instructor.Id })
        </td>
    </tr>
}

</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var course in Model.Courses)
        {
            selectedRow = (course.Id == ViewBag.CourseID) ? "table-success" : "";
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = course.Id })
                </td>
                <td>
                    @course.Id
                </td>
                <td>
                    @course.Title
                </td>
                <td>
                    @course.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var enrollment in Model.Enrollments)
        {
            <tr>
                <td>
                    @enrollment.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(model => enrollment.Grade)
                </td>
            </tr>
        }
    </table>
}