@model ContosoUniversity.ViewModels.Instructors.InstructorIndexViewModel

@{
    ViewData["Title"] = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hire Date</th>
        <th>Office</th>
        <th>Courses</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Instructors)
    {
        var selectedRow = "";
        if (item.ExternalId == (Guid?) ViewData["selectedInstructorExternalId"])
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var assignment in item.CourseAssignments)
                    {
                        @Model.AssignedCourses[assignment.CourseExternalId]
                        <br/>
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ExternalId">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.ExternalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExternalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExternalId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.SelectedInstructorCourseIds != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.SelectedInstructorCourseIds)
        {
            var selectedRow = "";
            if (item.Id == (Guid?) ViewData["selectedCourseExternalId"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new {courseExternalId = item.Id})
                </td>
                <td>
                    @item.CourseCode
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department
                </td>
            </tr>
        }

    </table>
}

@if (Model.SelectedCourseEnrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.SelectedCourseEnrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}